.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin: 100px;
}

.Produk {
  float: left;
  width: 50%;
  height: 700px;
  background-color: #e3e9ee;
}

.Produk img {
  width: 105%;
  height: 100%;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .info {
  line-height: 1.8;
  color: rgba(18, 11, 49);
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Kopi {
  color: #acaeb2;
}

.Deskripsi .button {
  margin-top: 20px;
  color: #fff;
  background: #036635;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.8s;
}

.Deskripsi .button:hover {
  color: #036635;
  background: #ffffff;
  transition: all 0.8s;
}

.Deskripsi ul li {
  padding-bottom: 10px;
}

.Testimonial-box {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.Testimonial-box h2 {
  margin-top: 50px;
}

.Testimonial-box img {
  width: 80px;
  height: 80px;
  background: #b1b1b1;
  border-radius: 11px;
  float: left;
  margin-right: 16px;
}

.Testimonial-box .User h3 {
  padding-top: 10px;
  margin-bottom: 8px;
}

.Testimonial-box .Item {
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}